html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #3CB371;
    display: flex;
    flex-direction: column;
    color: white;
}

form {
    margin: 30px;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

input{
    height: 4vw;
    width: 30vw;
    background-color: rgba(55, 128, 87, 1);
    border: 1px solid rgba(60, 179, 113, 1);
}

label {
    font-size: 1.5vw;
    padding-bottom: 5px;
}

footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
}

footer div {
    padding-left: 6vw;
}

a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

a:hover {
    color: rgb(188, 255, 193);
}

#main-container {
    background-color: rgba(55, 128, 87, 1);
    border-radius: 10px;
    margin: 4vh 8vw;
    height: 90%;
}

#options {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#options div {
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.field {
    color: white;
    padding-left: 10px;
    font-size: 15px;
}

#submitButtonDiv {
    display: flex;
    align-self: center;
    text-align: center;
    padding-top: 5vh;
}

#submitButton {
    background: black;
    color: white;
    font-size: 2vw;
    border: none;
    border-radius: 20px;
    height: 5vw;
    transition: .5s;
}

#submitButton:hover {
    background-color: rgb(12, 12, 12);
}